NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_NAME=PixStock

MONGODB_URI=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=

NEXTAUTH_URL=
NEXTAUTH_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=